body{

    font-family: "Montserrat", sans-serif;

}


header{
    background: #bbbbbb;
    padding: 20px 0;
}

.caja{

    width: 940px;
    position: relative;
    margin: 0 auto;
}


.linkImagen:hover img{

    border: 2px solid #000000;
    transform: scale(105%);
    border-radius: 10px;
}

h1 a:active img{

    color: #088c19;
    border-color: #088c19;
}

nav{

    position: absolute;
    top: 110px;
    right: 0px;

}

nav li{

    display: inline;

    margin: 0 0 0 15px;
}

nav a{

    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;

}

nav a:hover{

    color: #c78c19;
    text-decoration: underline;

}

.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 33%;
    vertical-align: top;
    padding: 40px 30px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 10px;
}

.productos li:hover{

    color: #c78c19;
    border-color: #c78c19;
    transform: scale(105%);
}

.productos li:active{

    color: #088c19;
    border-color: #088c19;

}

.productos h2{
    font-size: 20px;
}

.productos li:hover h2{

    font-size: 33px;

}

.procuctoDescripcion{
    font-size: 18px;
}

.productoPrecio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(imagenes/bg.jpg);
    padding: 40px;
}

.Copyright{

    color: #fff;
    font-size: 13px;
    margin: 20px;
}

@media screen and (max-width:2654px){

    h1{
        text-align: center;
    }

    nav{

        position: static;

    }

    .caja, .principales, .mapa-contenido, .contenido-diferenciales, .video{

        width: auto;

    }

    body{
        width: auto;
    }
    
}
